QGroupBox {
    border: 1px solid rgb(99, 99, 99);
    border-radius: 3px;
    margin-top: 1ex; /* leave space at the top for the title */
    font: 14px 'HarmonyOS Sans';
    color: rgba(255,255,255,0.40);
}

QGroupBox::title {
    subcontrol-origin: margin;
    left: 7px;
    top: -5px;
    padding: 0px 5px 0px 5px;
}
