# cmake files
build
cmake-build-*

# python files
__pycache__
.venv

# vim files
.vimspector.json
.vim_localrc
.*.swp
.*.un~
tags
*~

# ide files
.vs
.vscode
.cache
CMakeLists.txt.user
CMakeSettings.json

# archibate files
/GNUmakefile
