[submodule "projects/gmpm/zecomp"]
	path = projects/gmpm/zecomp
	url = https://github.com/zensim-dev/zpc.git
[submodule "projects/cgmesh/libigl"]
	path = projects/cgmesh/libigl
	url = https://github.com/zenustech/libigl.git
[submodule "projects/Alembic/Alembic"]
	path = projects/Alembic/Alembic
	url = https://github.com/zenustech/Alembic.git
[submodule "projects/zenvdb/openvdb"]
	path = projects/zenvdb/openvdb
	url = https://github.com/zenustech/openvdb.git
[submodule "zenovis/openexr"]
	path = zenovis/openexr
	url = https://github.com/zenustech/openexr.git
[submodule "projects/FBX/assimp"]
	path = projects/FBX/assimp
	url = https://github.com/assimp/assimp.git
