# python files
__pycache__/
*.egg-info/
dist/

# cmake files
build/
cmake-build-*/

# binary files
*.zpm
*.exe
*.so
*.dll
*.lib
*.dylib
*.pyd
a.out

# output files
outputs/

# vim files
.*.swp
.*.un~
tags
compile_commands.json
*~

# msvc files
.vs/
.idea/
.vscode/
.run/
*.pdb
*.ilk
*.manifest
*.exp
CMakeSettings.json

# binary folders
/zeno/lib/
/zenv/
zeno-windows-*
zeno-linux-*

# euler files
projects/Euler
assets/smoke
