
/*
 * Visual Studio like light theme
 */
 
/*****************************************************************************
 * CDockManager
 *****************************************************************************/
ads--CDockManager 
{
	background: rgb(31,31,31);
}


/*****************************************************************************
 * CDockContainerWidget
 *****************************************************************************/
ads--CDockContainerWidget {
	background: rgb(31,31,31);
	padding: 2px;
}

/*****************************************************************************
 * CDockSplitter
 *****************************************************************************/
ads--CDockContainerWidget > QSplitter {
	padding: 1 0 1 0;
}

ads--CDockContainerWidget ads--CDockSplitter::handle {
	background: rgb(31,31,31);
}


/*****************************************************************************
 * CDockAreaWidget
 *****************************************************************************/
ads--CDockAreaWidget {
	background: rgb(31,31,31);
	/*border: 1px solid palette(dark);*/
}


ads--CDockAreaTitleBar {
	background: transparent;
	/*border-bottom: 2px solid rgb(76, 159, 244);*/
	padding-bottom: 0px;
}


ads--CTitleBarButton {
	padding: 0px 0px;
	background: transparent;
	border: none;
}

ads--CTitleBarButton:hover {
	background: rgba(0, 0, 0, 24);
}

ads--CTitleBarButton:pressed {
	background: rgba(0, 0, 0, 48);
}

QScrollArea#dockWidgetScrollArea {
	padding: 0px;
	border: none;
}

#tabsMenuButton::menu-indicator {
	image: none;
}


#dockAreaCloseButton {
	qproperty-icon: url(:/icons/adsdock/vsdark/close-button.svg),
		url(:/icons/adsdock/vsdark/close-button-disabled.svg) disabled;
	qproperty-iconSize: 16px;
}

#detachGroupButton {
	qproperty-icon: url(:/icons/adsdock/vsdark/detach-button.svg),
		url(:/icons/adsdock/vsdark/detach-button-disabled.svg) disabled;
	qproperty-iconSize: 16px;	
}


ads--CDockAreaWidget[focused="true"] ads--CDockAreaTitleBar {
	border-bottom: 2px solid palette(highlight);
}


/*****************************************************************************
 * CDockWidgetTab
 *****************************************************************************/
ads--CDockWidgetTab {
	background: rgb(31,31,31);
	border: none;
	padding: 0 0px;
	qproperty-iconSize: 16px 16px;/* this is optional in case you would like to change icon size*/
}

ads--CDockWidgetTab[activeTab="true"] {
	background: rgb(61, 61, 61);
}

ads--CDockWidgetTab QLabel {
	color: rgb(134,134,134);
}

ads--CDockWidgetTab[activeTab="true"] QLabel {
	color: rgb(255,255,255);
}


#tabCloseButton {
	margin-top: 2px;
	background: none;
	border: none;
	padding: 0px -2px;
	qproperty-icon: url(:/icons/adsdock/vsdark/close-button.svg),
		url(:/icons/adsdock/vsdark/close-button-disabled.svg) disabled;
	qproperty-iconSize: 16px;
}

#tabsMenuButton {
	qproperty-icon: url(:/icons/adsdock/vsdark/tabs-menu-button.svg);
	qproperty-iconSize: 16px;
}

#tabCloseButton:hover {
	/*border: 1px solid rgba(0, 0, 0, 32);*/
	background: rgba(0, 0, 0, 24);
}

#tabCloseButton:pressed {
	background: rgba(0, 0, 0, 48);
}


/* Focus related styling */
ads--CDockWidgetTab[focused="true"] {
	background: palette(highlight);
	border-color: palette(highlight);
}

ads--CDockWidgetTab[focused="true"] > #tabCloseButton {
	qproperty-icon: url(:/ads/images/close-button-focused.svg)
}

ads--CDockWidgetTab[focused="true"]>#tabCloseButton:hover {
	background: rgba(255, 255, 255, 48);
}

ads--CDockWidgetTab[focused="true"]>#tabCloseButton:pressed {
	background: rgba(255, 255, 255, 92);
}

ads--CDockWidgetTab[focused="true"] QLabel {
	color: palette(light);
}


/*****************************************************************************
 * CDockWidget
 *****************************************************************************/
ads--CDockWidget {
	background: rgb(31,31,31);
	border: 1px solid rgb(61, 61, 61);
}



/*****************************************************************************
 *
 * Styling of auto hide functionality
 *
 *****************************************************************************/
 
 
/*****************************************************************************
 * CAutoHideTab
 *****************************************************************************/
ads--CAutoHideTab {
	qproperty-iconSize: 16px 16px;/* this is optional in case you would like to change icon size*/
	background: none;
	border: none;
	padding-left: 2px;
	padding-right: 0px;
	text-align: center;
	min-height: 20px;
	padding-bottom: 2px;
}


ads--CAutoHideTab:hover
{
	color: palette(highlight);
}


ads--CAutoHideTab[iconOnly="false"][sideBarLocation="0"],
ads--CAutoHideTab[iconOnly="false"][sideBarLocation="2"]  {
	border-top: 6px solid rgba(0, 0, 0, 48);
}


ads--CAutoHideTab[iconOnly="false"][sideBarLocation="1"],
ads--CAutoHideTab[iconOnly="false"][sideBarLocation="3"] {
	border-bottom: 6px solid rgba(0, 0, 0, 48);
}



ads--CAutoHideTab:hover[iconOnly="false"][sideBarLocation="0"],
ads--CAutoHideTab:hover[iconOnly="false"][sideBarLocation="2"],
ads--CAutoHideTab[iconOnly="false"][sideBarLocation="0"][activeTab="true"],
ads--CAutoHideTab[iconOnly="false"][sideBarLocation="2"][activeTab="true"]  {
	border-top: 6px solid palette(highlight);
}


ads--CAutoHideTab:hover[iconOnly="false"][sideBarLocation="1"],
ads--CAutoHideTab:hover[iconOnly="false"][sideBarLocation="3"],
ads--CAutoHideTab[iconOnly="false"][sideBarLocation="1"][activeTab="true"],
ads--CAutoHideTab[iconOnly="false"][sideBarLocation="3"][activeTab="true"] {
	border-bottom: 6px solid palette(highlight);
}


/**
 * Auto hide tabs with icon only
 */
ads--CAutoHideTab[iconOnly="true"][sideBarLocation="0"] {
	border-top: 6px solid rgba(0, 0, 0, 48);
}

ads--CAutoHideTab[iconOnly="true"][sideBarLocation="1"] {
	border-left: 6px solid rgba(0, 0, 0, 48);
}

ads--CAutoHideTab[iconOnly="true"][sideBarLocation="2"] {
	border-right: 6px solid rgba(0, 0, 0, 48);
}

ads--CAutoHideTab[iconOnly="true"][sideBarLocation="3"] {
	border-bottom: 6px solid rgba(0, 0, 0, 48);
}


/**
 * Auto hide tabs with icon only hover
 */
ads--CAutoHideTab:hover[iconOnly="true"][sideBarLocation="0"],
ads--CAutoHideTab[iconOnly="true"][sideBarLocation="0"][activeTab="true"] {
	border-top: 6px solid palette(highlight);
}

ads--CAutoHideTab:hover[iconOnly="true"][sideBarLocation="1"],
ads--CAutoHideTab[iconOnly="true"][sideBarLocation="1"][activeTab="true"] {
	border-left: 6px solid palette(highlight);
}

ads--CAutoHideTab:hover[iconOnly="true"][sideBarLocation="2"],
ads--CAutoHideTab[iconOnly="true"][sideBarLocation="2"][activeTab="true"] {
	border-right: 6px solid palette(highlight);
}

ads--CAutoHideTab:hover[iconOnly="true"][sideBarLocation="3"],
ads--CAutoHideTab[iconOnly="true"][sideBarLocation="3"][activeTab="true"] {
	border-bottom: 6px solid palette(highlight);
}



/*****************************************************************************
 * CAutoHideSideBar
 *****************************************************************************/
ads--CAutoHideSideBar{
	background: rgb(31,31,31);
	border: none;
	qproperty-spacing: 12;
}

#sideTabsContainerWidget {
	background: transparent;
}


ads--CAutoHideSideBar[sideBarLocation="0"] {
	border-bottom: 1px solid palette(dark);
}

ads--CAutoHideSideBar[sideBarLocation="1"] {
	border-right: 1px solid palette(dark);
}

ads--CAutoHideSideBar[sideBarLocation="2"] {
	border-left: 1px solid palette(dark);
}

ads--CAutoHideSideBar[sideBarLocation="3"] {
	border-top: 1px solid palette(dark);
}


/*****************************************************************************
 * CAutoHideDockContainer
 *****************************************************************************/
ads--CAutoHideDockContainer {
	background: rgb(31,31,31);
}


ads--CAutoHideDockContainer ads--CDockAreaTitleBar {
	background: palette(highlight);
	padding: 0px;
	border: none;
}


/*
 * This is required because the ads--CDockAreaWidget[focused="true"] will 
 * overwrite the ads--CAutoHideDockContainer ads--CDockAreaTitleBar rule
 */
ads--CAutoHideDockContainer ads--CDockAreaWidget[focused="true"] ads--CDockAreaTitleBar {
	background: palette(highlight);
	padding: 0px;
	border: none;
}


#autoHideTitleLabel {
	padding-left: 4px;
	color: palette(light);
}


/*****************************************************************************
 * CAutoHideDockContainer titlebar buttons
 *****************************************************************************/
#dockAreaAutoHideButton {
	qproperty-icon: url(:/ads/images/vs-pin-button.svg);
	qproperty-iconSize: 16px;
}

ads--CAutoHideDockContainer #dockAreaAutoHideButton {
	qproperty-icon: url(:/ads/images/vs-pin-button-pinned-focused.svg);
	qproperty-iconSize: 16px;
}


ads--CAutoHideDockContainer #dockAreaCloseButton{
	qproperty-icon: url(:/ads/images/close-button-focused.svg)
}


ads--CAutoHideDockContainer ads--CTitleBarButton:hover {
	background: rgba(255, 255, 255, 48);
}

ads--CAutoHideDockContainer ads--CTitleBarButton:pressed {
	background: rgba(255, 255, 255, 96);
}

/*****************************************************************************
 * CAutoHideDockContainer Titlebar and Buttons
 *****************************************************************************/


/*****************************************************************************
 * CResizeHandle
 *****************************************************************************/
ads--CResizeHandle {
    background: rgb(31,31,31);
}


ads--CAutoHideDockContainer[sideBarLocation="0"] ads--CResizeHandle {
	border-top: 1px solid palette(dark);
}

ads--CAutoHideDockContainer[sideBarLocation="1"] ads--CResizeHandle {
	border-left: 1px solid palette(dark);
}

ads--CAutoHideDockContainer[sideBarLocation="2"] ads--CResizeHandle {
	border-right: 1px solid palette(dark);
}

ads--CAutoHideDockContainer[sideBarLocation="3"] ads--CResizeHandle {
	border-top: 1px solid palette(dark);
}
