*~

# You have to ignore this genrated file or git will complain that it is an
# unknown file!
/make.inc

# If the instructions are telling people to create this build dir under the
# source tree, you had better put in an ignore for this.
/build/

.dropbox.attr
