/*.o
/superlu
/citersol
/citersol1
/clinsol
/clinsol1
/clinsolx
/clinsolx1
/clinsolx2
/clinsolx3
/ditersol
/ditersol1
/dlinsol
/dlinsol1
/dlinsolx
/dlinsolx1
/dlinsolx2
/dlinsolx3
/sitersol
/sitersol1
/slinsol
/slinsol1
/slinsolx
/slinsolx1
/slinsolx2
/slinsolx3
/zitersol
/zitersol1
/zlinsol
/zlinsol1
/zlinsolx
/zlinsolx1
/zlinsolx2
/zlinsolx3
