[Desktop Entry]
Type=Application
Name=Zeno Editor
Comment=Unified Nose System for Digital Content Creation
Exec=zenoedit
Icon=zeno
Categories=Graphics;
