name: CMake

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        include:
        #- os: ubuntu-latest
        #  python: 3.8
        #  container: archibate/zeno_dev:latest
        #  options: -DEXTENSION_zenvdb:BOOL=ON -DEXTENSION_FastFLIP:BOOL=ON
        - os: ubuntu-18.04
          python: 3.6
        - os: ubuntu-20.04
          python: 3.7
        - os: windows-latest
          python: 3.9

    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    #- uses: actions/cache@v2
      #with:
        #key: ${{matrix.os}}-${{matrix.python}}-${{env.BUILD_TYPE}}-${{hashFiles('**/CMakeLists.txt')}}
        #path: |
          #${{github.workspace}}/build

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} ${{matrix.options}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test Import ZENO
      run: python -c "import zeno"

    #- name: Test
      #working-directory: ${{github.workspace}}/build
      #run: ./tests/zentest
      #run: ctest -C ${{env.BUILD_TYPE}}

